.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    position: relative;
    justify-content: center;
    justify-items: center;
}
.form-container {
    display: block;
    width: 50%;
    padding: 0 30px 0 30px;
    height: inherit;
    justify-content: center;
    justify-items: center;
}

.field-row:nth-of-type(-n+2), .field-row:last-of-type {
    display: flex;
    gap: 30px;
}

button {
float: right;
}

#password-rules {
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    font-size: 0.9rem;
}
#password-rules li {
    margin-bottom: 3px;
}

.create-intro {
    display: flex;
    justify-content: center;
    align-items: center;

}

.create-intro img {
    max-width: 600px;
    max-height: 600px;
}

@media (max-width: 1150px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        width: 90%;
        padding: 0 20px;
    }

    form {
        width: 75%;
    }

    .create-intro img {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .field-row:nth-of-type(-n+2), 
    .field-row:last-of-type {
        flex-direction: column;
        gap: 10px;
    }

    button {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
}
