.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    position: relative;
    justify-content: center;
    justify-items: center;
}
.form-container {
    display: block;
    width: 50%;
    padding: 0 30px 0 30px;
    height: inherit;
    justify-content: center;
    justify-items: center;
}

.field-row:nth-of-type(-n+2), .field-row:last-of-type {
    display: flex;
    gap: 30px;
}

button {
float: right;
}

#password-rules {
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    font-size: 0.9rem;
}
#password-rules li {
    margin-bottom: 3px;
}
