.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    position: relative;
    justify-content: center;
    justify-items: center;
}
.form-container {
    display: block;
    width: 70%;
    padding: 0 30px 0 30px;
    height: inherit;
    justify-content: center;
    justify-items: center;
}
.field-row {
    display: flex !important;
    gap: 76px;
    margin-bottom: 30px;
    width: 100%;
}
button {
    float: right;
}
.logo h1{
    margin-bottom: 100px;
}


@media (max-width: 1150px) {
    .form-container {
        margin-left: 45px;
    }
}

@media (max-width: 875px) {
    .form-container {
        width: 90%;
        padding: 0 20px;
    }

    .field-row {
        flex-direction: column;
        gap: 20px;
    }

    form {
        width: 75%;
    }
    
    button {
        width: 100%;
        float: none;
        padding: 12px;
    }

}

@media (max-width: 700px) {
    .form-container {
        margin-left: 65px;
    }
}

@media (max-width: 600px) {
    .form-container {
        margin-left: 75px;
    }
}