
aside {
    display: flex;
    flex-direction: column;
    width: 5%;
    background: var(--clr-indigo);
    height: 100vh;
    position: fixed;
    padding: 30px 0 30px 0;
}
.nav-wrapper > ul,
.nav-wrapper > ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
}

li {
    align-items: center;
    justify-content: center;
}

.nav-menu {
    height: 80%;
    margin: 30px auto  ;
}

.logout {
    height: 20%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    border-top: 1px solid var(--clr-muted);
}
.logout > ul {
    text-align: center;
    list-style: none;
}
.logout > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
