
aside {
    display: flex;
    flex-direction: column;
    width: 5%;
    background: var(--clr-indigo);
    height: 100vh;
    position: fixed;
    padding: 30px 0 30px 0;
}
.nav-menu > ul,
.nav-menu > ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

li {
    align-items: center;
    justify-content: center;
}

.nav-menu {
    height: 70%;
    margin: 30px auto;
}

.logout {
    height: 30%;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.logout > ul {
    text-align: center;
    list-style: none;
}
.logout > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
