body {
    font-family: Arial;
    font-size: 12px;
}

.sidebar {
    width: 99px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: fixed;
    height: 275vh;
    transition: width 0.3s ease;
    overflow-x: hidden;
    flex-shrink: 0;
    z-index: 1;
}

.sidebar:hover {
    width: 220px;
}

.sidebar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
   
}

.sidebar nav ul li {
    margin: 20px 0;
    margin-bottom: 30px;
}

.sidebar nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background 0.3s ease;
    
}

.sidebar span {
    color: white
}

.sidebar nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

.sidebar nav ul li a img {
    display: flex;
    width: 24px;
    height: 24px;
    transition: margin 0.3s ease;
    margin-left: 75px;
}

.sidebar nav ul li a span {
    opacity: 0;
    white-space: nowrap;
    margin-left: 0;
    transition: opacity 0.3s ease, margin 0.3s ease;
    font-size: 14px;
    
}

.sidebar:hover nav ul li a img {
    margin-right: 15px;
    margin-left: 0px;
}

.sidebar:hover nav ul li a span {
    opacity: 1;
    margin-left: 5px;
}

.logo .a {
    color: white;
}

.logo .p {
    color: #ffcf33;
}
