.employee-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--clr-card-surface);
    height: 355px;
    width: 272px;
    border-radius: 16px;
    padding: 13px;
    box-shadow: 2px 5px 6px 0 rgba(136, 125, 125, 0.25);
}
a {
    text-decoration: none;
    color: var(--clr-primary);
}
.employee-card:hover {
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
}
.profile {
    height: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.profile-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}

.top-bar,
.description,
.type,
.email,
.contact,
.employment_date,
.profile,
.type-wrapper,
.email-wrapper{
    display: flex;
    width: 100%;
    height: auto;
}

.top-bar{
    justify-content: space-between;
}


.description {
    flex-direction: column;
    background: #ECEAE7;
    border-radius: 8px;
    padding: 5px 10px;
    gap: 10px;
    width: 100%;
    height: auto;
}
.description div{

}
.description p {
    line-height: 2;
    font-size: 12px;
}
.profile-info   {
    display: flex;
    flex-direction: column;
    text-align: center;
}
strong{
    font-size: 9px;
    letter-spacing: 1px;
    font-weight: 600;
}
.email {
    gap: 10px;
}
.type-wrapper {
    gap: 5px;
}
.email img,
.type-wrapper img {
    width: 15px;
    height: 15px;
    justify-content: center;
    align-self: center;
}
.email-wrapper {
    padding:    5px;
    background: var(--clr-background);
    border-radius: 8px;
    text-align: center;
    align-items: center;
    width: auto;
    height: 20px;
}
.email-wrapper p {
    line-height: 0 !important;
    letter-spacing: 0 !important;
    margin-bottom: 0 !important;
}
.type{
    width: 100%;
    gap:30px;
    justify-content: space-between;
}



