.employee-table-row {
    width: 93%;
    border-collapse: collapse;
    margin-bottom: 15px;
    background: #fff;
    margin-left: 50px;
}

.employee-table-row th {
    text-align: left;
    width: 130px;
    padding: 8px;
    font-weight: 600;
    font-size: 13px;
    background: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

.employee-table-row td {
    padding: 8px;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
}

.employee-table-photo {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 10px;
}

.employee-info-cell {
    display: flex;
    align-items: center;
}

.employee-info-text p {
    margin: 0;
    font-size: 14px;
}

.employee-id {
    font-size: 11px;
    color: #666;
}

.employee-position-wrapper {
    display: inline-block;
    width: 60%;
}

.employee-type-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.table-icon {
    width: 15px;
    height: 15px;
}

.employee-email-cell {
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1400px) {
    .employee-table-row {
        width: 90%;
        margin-left: 60px;
    }
}

@media (max-width: 1150px) {
    .employee-table-row {
        width: 90%;
        margin-left: 70px;
    }
}

@media (max-width: 1100px) {
    .employee-table-row {
        width: 87%;
        margin-left: 80px;
    }
}

@media (max-width: 900px) {
    .employee-table-row {
        width: 80%;
        margin-left: 100px;
    }
    .employee-table-row th {
        width: 95px;
        font-size: 12px;
        padding: 6px;
    }
    .employee-table-row td {
        font-size: 12px;
        padding: 6px;
    }
    .employee-table-photo {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 700px) {
    .employee-table-row {
        width: 77%;
    }
    .employee-table-row th {
        width: 90px;
    }
}

@media (max-width: 600px) {
    .employee-table-row {
        width: 73%;

    }
    .employee-table-row th {
        width: 88px;
    }
}
