.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}

.main-content h6 {
    margin-left: 50px;
}

@media (max-width: 1150px) {
    .main-content h6 {
        margin-bottom: 15px;
    }
}

@media (max-width: 800px) {
    .main-content h6 {
        margin-left: 70px;
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .main-content h6 {
        margin-left: 80px;
    }
}
