
.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin-top: 30px;
    background: var(--clr-card-surface);
    box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
    border-radius: 16px;
    margin-bottom: 30px;
}
.links {
    border-radius: 16px 16px 0 0 ;
    padding: 15px;
    background: var(--clr-card-inner);
    width: 100%;
}
.links ul{
    display: flex;
    gap: 50px;
}
.links ul li{
    list-style: none;
}
.links ul li a{

    color: var(--clr-primary);
    text-decoration: none;
}
.summary-content {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
}
.content-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    border-right: 1px solid var(--clr-primary);
    padding-left: 30px;
}
.content-cards:last-of-type {
    border-right: none!important;
}

