
.content-wrapper{
    display: flex;
    /*flex-direction: column;*/
    width: 100%;
    height: 100vh;
    padding: 2%;
    gap: 30px;
}
.main-content {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.card-wrapper{
    background: var(--clr-card-surface);
    width: 100%;
    height: auto;
    border-radius: 16px;
    padding: 10px;
}
.side-content {
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.field-row {
    display: flex !important;
    gap: 0 !important;
}

.content-wrapper .card-wrapper .field-row .field-input input{
    border: none;
    border-bottom: 1px solid var(--clr-primary);
    border-radius: 0;
    color: var(--clr-secondary);
    pointer-events: none;

}
.card-wrapper h6 {
    margin-bottom:30px;
}
