
.content-wrapper{
    display: flex;
    width: 90%;
    height: auto;
    padding: 2%;
    gap: 30px;
}
.main-content {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.card-wrapper{
    background: var(--clr-card-surface);
    width: 100%;
    height: auto;
    border-radius: 16px;
    padding: 10px;
    box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
}
.side-content {
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.field-row {
    display: flex !important;
    gap: 0 !important;
}
.side-content .field-row {
    gap: 10px !important;
    flex-direction: column !important;
}

.content-wrapper .card-wrapper .field-row .field-input input{
    border: none;
    border-bottom: 1px solid var(--clr-primary);
    border-radius: 0;
    color: var(--clr-secondary);
    pointer-events: none;

}
.card-wrapper h6 {
    margin-bottom:30px;
}

@media (max-width: 1400px) {
    .content-wrapper{
        margin-left: 50px;
    }
}

@media (max-width: 1000px) {
    .content-wrapper {
        margin-top: 15px;
        flex-direction: column;
        gap: 20px;
        margin-left: 70px;
        width: 85%;
    }

    .main-content,
    .side-content {
        width: 100%;
        height: auto;
    }

    .side-content {
        gap: 20px;
    }

    .field-row {
        flex-direction: column !important;
        gap: 10px !important;
    }
}

@media (max-width: 900px) {
    .content-wrapper {
        width: 80%;
    }
}

@media (max-width: 700px) {
    .content-wrapper {
        margin-left: 80px;
        width: 75%;
    }
}

@media (max-width: 600px) {
    .content-wrapper {
        margin-left: 85px;
        width: 70%;
    }
}