.main-content   {
    width: 100%;
    padding: 0 2% 5%;
}
nav {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
    margin-bottom: 5%;
}

.nav-group {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 10rem;
}
form {
    display: flex;
    gap: 10rem;
    align-items: center;
    width: 80%;
}

.nav-group input,
.nav-group select {
    width: auto;
    height: 30px;
    border: 1px solid var(--clr-primary);
    border-radius: 8px;
    background: none;
    outline: none;
    padding: 10px;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.filters {
    display: flex;
    gap: 30px;
}

 .nav-group #search_bar {
    width: 150% !important;
    height: 30px;
}
.nav-group select {
    width: 10rem !important;
    padding: 0 0 0 10px !important;
}
nav a {
    background: var(--clr-yellow);
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    outline: none;
    border: none;
    font-family: 'Helvetica Regular', sans-serif;
    letter-spacing: 1.5px;
    border-radius: 8px;
    color: var(--clr-primary);
    box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
    font-size: 12px;
}
nav a:hover {
    color: var(--clr-background);
    background: var(--clr-indigo);
}

.btn-link {
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*!*todo: ikadto ngat han employee cards class*!*/
/*.card-wrapper {*/
/*    width: 100%;*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fill, minmax(280px, 4fr));*/
/*    gap: 20px 10px;*/
/*}*/
#employee-cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 4fr));
    gap: 20px 10px;
}
.no-results {
    text-align: center;
}

