.main-content {
    width: 95%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: black;*/
}
.request-list nav  {
    border-radius: 16px 16px 0 0 ;
    width: 100%;
    background: var(--clr-card-inner);
    padding: 10px;
}

.request-list {
    /*background: black;*/
    height: 400px;
    border: 1px solid var(--clr-card-inner);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 16px ;
    padding-bottom: 10px;
    overflow:hidden;
}
.request-cards {
    width: 100%;
    overflow-y: scroll;
}
.leave-wrapper {
    overflow-y: scroll;
    display: flex;
    width: 100%;
    height: 1000px;
    gap:30px;
}

.leave-wrapper .message {
    border-radius: 16px;
    background: var(--clr-card-surface);
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    width:65%;
    height: 400px;
    box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
}

.leave-handle-wrapper {
    box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
    display: flex;
    flex-direction: column;
    width:35%;
    height: 480px;
    background: var(--clr-card-surface);
    border-radius: 16px;
    padding:10px;
    gap:30px;
}

.leave-handle-wrapper .field-input input {
    color: var(--clr-secondary);
    border: none !important;
    border-radius: 0!important;

    border-bottom: 1px solid var(--clr-muted) !important;
    pointer-events: none;
}


.leave-handle-wrapper .action-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    /*margin-top: 30px;*/
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.leave-handle-wrapper .button-rejects {
    gap: 10px;
    display: flex;
}
#btn-revision {
    background: var(--clr-primary) !important;
    color: var(--clr-background);
}
#btn-revision:hover {
    background: var(--clr-yellow) !important;
    color: var(--clr-primary);
}
#btn-reject {
    background: var(--clr-red) !important;
    color: var(--clr-background);
}
#btn-reject:hover {
    background: var(--clr-primary) !important;
    color: var(--clr-background);
}
