body {
    font-family: Arial;
    font-size: 12px;
    background: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 900px;
}

.container {
    margin-top: 75px;
    justify-content: center;
    width: 1100px;
    margin-left: 100px;
}

.logo {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 795px;
    margin-left: 50px;
}

.auto {
    color: #2b2b2b;
}

.payroll {
    color: #ffcf33;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.head {
    display: flex;
    gap: 70px;
}

.row {
    margin-bottom: 20px;
}

#role {
    width: 229px;
}

.a1, .a2, .g1, .g2, .g3, .g4 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 10px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

.required {
    color: red;
}

input, select {
    padding: 10px;
    font-size: 14px;
    box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
    border-radius: 6px;
    border: 1px solid #000000;
    outline: none;
}

.g3 {
    width: 300px;
}

.g4 {
    position: relative;
    width: 300px;
    margin-bottom: 20px;
}

.g4 input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 14px; 
}

.toggleEye {
    position: absolute;
    right: 12px;
    top: 72%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    font-size: 20px;
}

.start {
    background-color: #ffcf33;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 880px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: background 0.3s ease;
}

.start:hover {
    background-color: #ffd84d
}

@media screen and (max-width: 1700px){

    body {
        margin-right: 10px;
    }
    
    .container {
        margin-left: 20px;
    }

}

@media screen and (max-width: 1500px){
    
    .container {
        margin-left: 0px;
    }

}

@media screen and (max-width: 1300px){
    
    body {
        flex-direction: column;
        height: auto;
        padding: 20px;
        align-items: flex-start;
    }

    .container {
        margin-left: 100px;
    }

    .logo {
        margin-bottom: 15px;
        margin-left: 10px;
    }

}

@media screen and (max-width: 1200px){
    
    .container {
        margin-left: 50px;
    }

}


@media screen and (max-width: 1100px) {
    
    .container {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        margin-left: 10px;
    }

    .logo {
        font-size: 32px;
        text-align: left; 
    }

    .head {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .form {
        width: 100%;
        gap: 15px;
    }

    .start {
        width: 180px;
        font-size: 14px;
        padding: 10px;
        margin-top: 20px;
        margin-left: 870px;
        align-self: flex-start;
        align-items: right;
    }

}

@media screen and (max-width: 1070px) {
    
    .start { 
        margin-left: 800px;
    }

}

@media screen and (max-width: 1050px) {
    
    .start { 
        margin-left: 780px;
    }

}

@media screen and (max-width: 1030px) {
    
    .start { 
        margin-left: 760px;
    }

}

@media screen and (max-width: 1010px) {
    
    .start { 
        margin-left: 740px;
    }

}

@media screen and (max-width: 990px) {
    
    .start { 
        margin-left: 720px;
    }

}

@media screen and (max-width: 970px) {
    
    .start { 
        margin-left: 700px;
    }

}

@media screen and (max-width: 950px) {
    
    .start { 
        margin-left: 680px;
    }

}

@media screen and (max-width: 930px) {
    
    .start { 
        margin-left: 660px;
    }

}

@media screen and (max-width: 910px) {
    
    .start { 
        margin-left: 640px;
    }

}

@media screen and (max-width: 890px) {
    
    .start { 
        margin-left: 620px;
    }

}

@media screen and (max-width: 870px) {
    
    .start { 
        margin-left: 600px;
    }

}

@media screen and (max-width: 850px) {
    
    .start { 
        margin-left: 580px;
    }

}

@media screen and (max-width: 830px) {
    
    .start { 
        margin-left: 560px;
    }

}

@media screen and (max-width: 810px) {
    
    .start { 
        margin-left: 540px;
    }

}

@media screen and (max-width: 790px) {
    
    .start { 
        margin-left: 520px;
    }

}

@media screen and (max-width: 770px) {
    
    .start { 
        margin-left: 500px;
    }

}

@media screen and (max-width: 760px) {
    
    .start { 
        margin-left: 450px;
    }

}

@media screen and (max-width: 750px) {
    
    .start { 
        margin-left: 400px;
    }

}

