main {
    /*margin-left: 5%;*/
    /*padding:  5%;*/
}

header {
    height: 10%;
    width: auto;
    margin-left: 5%;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.user-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
