.state-default {
    background-color: var(--clr-green);
    width: 70px;
    padding: 5px;
    border-radius: 16px;
    text-align: center;
    max-height: 25px;

}

.state-inactive {
    background-color: var(--clr-red);
    width: 70px;
    padding: 5px;
    border-radius: 16px;
    text-align: center;
    max-height: 25px;
}
.state-warning {
    background-color: var(--clr-light-mustart);
    width: 70px;
    padding: 5px;
    border-radius: 16px;
    text-align: center;
    max-height: 25px;
}
small {
    color: var(--clr-primary);
    font-size: 10px !important;
    margin-bottom: 0 !important;
    /*line-height: 0 !important;*/
    text-align: center !important;
}

