/*==========================================
THEME.CSS – Global Site Styles
============================================
This CSS file contains all global styles used
throughout the application.

Includes:
- Fonts & typography
- Color variables
- Buttons, inputs, and form elements
- Common partitions helpers (like .field-row)
- Card & background styles

Usage:
Simply include this file in your Blade templates:

@vite(['resources/css/theme.css'])

No need to repeat these common styles in other CSS files.
===========================================*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-primary: #1F2937;
    --clr-secondary: #4B5563;
    --clr-muted: #9CA3AF;

    /*backgrounds*/
    --clr-background: #FDFCF9;
    --clr-indigo: #07051A;

    /*card colors*/
    --clr-card-surface: #F6F5F2;
    --clr-card-inner: #D7D5CE;


    /*status colors*/
    --clr-yellow: #FFD858;
    --clr-red: #BA2A2A;
    --clr-green: #3CBF6C;
    --clr-light-green: #6FEA95;
    --clr-mustard: #F5A623;
    --clr-light-mustart: #FFB94D;

    --font-logo: 'Quicksand', sans-serif;

}

    @font-face {
        font-family: 'Helvetica light';
        src: url('../fonts/helvetica/HelveticaNeueLight.otf');
        font-weight: 100;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Helvetica Regular';
        src: url('../fonts/helvetica/HelveticaNeueRoman.otf');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }  @font-face {
        font-family: 'Helvetica medium';
        src: url('../fonts/helvetica/HelveticaNeueMedium.otf');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
            font-family: 'Helvetica black';
            src: url('../fonts/helvetica/HelveticaNeueBlack.otf');
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }
    @font-face {
            font-family: 'Quicksand';
            src: url('../fonts/quicksand/Quicksand_Bold.otf');
            font-weight: 900;
            font-style: normal;
            font-display: swap;
        }

    body {
        font-size: 16px;
        line-height: 1.6;
        font-family: system-ui, 'Helvetica Regular';
        color: var(--clr-primary);
        background: var(--clr-background);
    }

h1 { font-size: 48px; line-height: 1.1; color: var(--clr-primary); }
h2 { font-size: 40px; line-height: 1.2; color: var(--clr-primary); }
h3 { font-size: 33px; line-height: 1.25; color: var(--clr-primary); }
h4 { font-size: 28px; line-height: 1.3; color: var(--clr-primary); }
h5 { font-size: 23px; line-height: 1.35; color: var(--clr-primary); }
h6 { font-size: 19px; line-height: 1.4; color: var(--clr-primary); }
p  { font-size: 16px; line-height: 1.6; color: var(--clr-primary); }
small { font-size: 13px; line-height: 1.4; color: var(--clr-muted); }



h1,h2,h3,h4,h5,h6 {
        font-family: 'Helvetica medium', sans-serif;
        letter-spacing: 1.3px
    }

    p     { font-size: 16px; line-height: 1.6;}
    small { font-size: 13.33px; line-height: 1.5; letter-spacing: 1.6px; }

    input {font-family: "Helvetica Regular", sans-serif; line-height: 1.6; letter-spacing: 1.6px;}


/*=====================
Logo
======================*/
    .logo {
        margin: 22px 0 40px 37px;
        font-family: var(--font-logo);
    }
    .logo-small {
        font-family: var(--font-logo);
        text-align: center;
        top: 0;
        color: var(--clr-background);
    }

    .logo span,
    .logo-small span {
        color: var(--clr-yellow);
    }

    /*==============
    Forms
    ================*/
    .field-input label{
        display: block;
        margin-bottom: 5px;
        color: var(--clr-secondary);
    }
    .field-input input, .field-input select{
        width: 100%;
        min-height: 47px;
        border: 1px solid var(--clr-primary);
        border-radius: 12px;
        background: none;
        outline: none;
        padding: 10px;
        align-items: center;
        align-self: center;
        font-size: 16px;
    }

    .field-input {
        flex: 1;
    }
    .field-input.auto {
        flex: 0 0 auto;
        width: 409px;
    }

    .field-input input:focus, select:focus {
        border: 1px solid var(--clr-yellow);
    }

    .field-row {
        display: block;
        gap: 76px;
        margin-bottom: 30px;
        width: 100%;
    }

.create-intro {
    width: 50%;
    height: inherit;
}
.form-intro h4 {
    margin-bottom: 0;
}
p {
    color: var(--clr-secondary);
}
.form-intro {
    margin-bottom: 50px;
}









    /*================
    buttons
    ==================*/
    .button-filled {
        background: var(--clr-yellow);
        height: 47px;
        width: auto;
        outline: none;
        border: none;
        padding: 0 2% 0 2%;
        font-family: 'Helvetica Regular', sans-serif;
        letter-spacing: 1.5px;
        font-size: 16px;
        border-radius: 8px;
        box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
        color: var(--clr-primary);
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .button-filled a {
        text-decoration: none;
        color: var(--clr-primary);
    }
    .button-filled a:hover {
        text-decoration: none;
        color: var(--clr-background);
    }

.button-filled:hover {
    background: var(--clr-primary);
    color: var(--clr-background);
    transition: all 0.3s ease-in-out;
}
.button-ghost {
        background: none;
        height: 47px;
        width: 150px;
        outline: none;
        border: 1px solid var(--clr-yellow);
        font-family: 'Helvetica Regular', sans-serif;
        letter-spacing: 1.5px;
        font-size: 16px;
        border-radius: 8px;
        color: var(--clr-primary);
    }
.button-ghost:hover {
    border: 1px solid var(--clr-primary);
    color: var(--clr-yellow);
    transition: all 0.3s ease-in-out;
}

.button-image {
    width: 25px;
    height: 25px;
    outline: none;
    background: none;
    border: none;
}

.button-image:hover {
    cursor: pointer;
}

.image-link {
    height: auto;
    width: 100%;
}

.image-link  img {
    width: 50px;
    max-width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.image-link a {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.image-link h6 {
    color: var(--clr-secondary);
}

.progression-status {
    margin-top: 30px;
    width: 90%;
    /*margin-left: 10rem;*/
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error_message {
    color: var(--clr-red);
    /*position: absolute;*/
}

.read-mode-only {
    pointer-events: none;
    background: #f0f0f0;
    color: var(--clr-muted);
}

