.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}
.container nav {
    display: flex;
    width: 100%;
    min-height: 120px;
    align-items: center;
    justify-content: space-between;
}
.container nav .buttons{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 40px;
}
.logo-wrapper {
    width: 70%;
}
.container nav .buttons form{
    display: flex;
    /*flex-direction: column;*/
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.container nav .buttons {
    width: 30%;
}
.container nav .buttons form .button-filled {
    width: 100%;
    padding: 0 20px;
    max-height:35px;
    box-shadow: -7px 4px 0 0 #FFD858;
    background: var(--clr-primary);
    color: var(--clr-background);
}
#nav-button {
    background: none;
    box-shadow: none;
    border: 1px solid var(--clr-primary);
    color: var(--clr-primary);
}
#nav-button:hover {
    border: 1px solid var(--clr-yellow);
    color: var(--clr-yellow);
}
.container nav .buttons form .button-filled:hover {
    box-shadow: -7px 4px 0 0 #1F2937FF;
    background: var(--clr-yellow);
    color: var(--clr-primary);
}
.button-filled {
    font-weight: 600;
}
.container .introduction-wrapper {
    display: flex;
    width: 100%;
    min-height: 600px;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}
.left-content-wrapper,
.right-content-wrapper {
    width: 50%;
}
.left-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.right-content-wrapper{
    max-height: 80px;
}
.message-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}
.introduction-wrapper .left-content-wrapper form {
    width: 100%;
    margin-top: 50px;
}
.introduction-wrapper .left-content-wrapper .message-wrapper form .button-filled {
    width: 100% !important;
}
.right-content-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
}
.right-content-wrapper img {
    width: 600px;
}
.separator {
    display: flex;
    width: 100%;
    min-height: 100px;
    background: var(--clr-primary);
}

.info-cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    margin: 50px 0;
    /*background: black;*/
}

.info-cards {
    max-height: 600px;
    border-radius: 8px;
    padding: 15px;
    gap: 20px;
    background: var(--clr-card-surface);
    box-shadow: -10px 9px 4px 0 rgba(255, 216, 88, 0.75);
}

.info-cards img {
    max-height: 50px;
    max-width: 50px;
}
.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center; /* centers items horizontally */
    max-width: 1000px;
    margin: 0 auto;
}
.info-card-header {
    font-weight: 600;
}

/*section.content-wrapper:nth-of-type(2){*/
/*    background: var(--clr-indigo);*/
/*}*/
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 100px 0;*/
    /*border: 1px solid black;*/
    padding:50px 50px;

}

#content-wrapper {
    background: var(--clr-primary);
 }
#h3-content {
    z-index: 10000;
    color: var(--clr-background) !important;
}
#p-content {
    color: var(--clr-background) !important;
}
.content-wrapper .info-message,
.content-wrapper .image-wrapper {
    width: 50%;
}
.info-message {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left:30px;
}

.content-wrapper img {
    max-height: 75%;
}
.sub-text {
    width: 70%;
}

.banner {
    width: 100%;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--clr-primary);
    padding:60px 0;
    gap: 30px;
}
.banner h3,
.banner p {
    color: var(--clr-background);
}
.sub-message {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .button-filled {
    width: 30% !important;
}

.banner .button-filled:hover {
    background: var(--clr-background) !important;
    color: var(--clr-primary);
}

footer {
    min-height: 70vh;
    display: flex;
    align-items: end;
}
footer .logo {
    font-size: 150px;
    padding: 0 !important;
    margin: 0 !important;
}

@media (max-width: 1150px) {

    .logo-wrapper h1 {
        margin-left: -90px;
    }

    nav {
        flex-direction: column !important;
        gap: 20px;
        padding-bottom: 15px;
    }

    .container nav .buttons {
        width: 90%;
        justify-content: center;
        margin-right: 0;
        position: absolute;
        margin-top: 125px;
    }

    .left-content-wrapper,
    .right-content-wrapper {
        width: 100%;
        text-align: center;
    }

    .img-1 {
        width: 20px;
        height: 450px;
    }

    .right-content-wrapper {
        display: flex;
        justify-content: center;
    }

    .introduction-wrapper {
        margin-top: 20px;
    }

    .cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    .content-wrapper {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .content-wrapper .info-message {
        width: 90%;
        padding-left: 0;
        align-items: center;
    }

    .banner .button-filled {
        width: 50% !important;
    }

    .info-card-header {
        width: 90%;
    }

    footer .logo {
        font-size: 120px;
    }
}


@media (max-width: 900px) {

    .logo-wrapper h1 {
        margin-left: -50px;
    }
    
    .container nav {
        flex-direction: column;
    }

    .container nav .buttons {
        gap: 10px;
        flex-direction: column;
    }

    .container nav .buttons form .button-filled {
        width: 90%;
    }

    .introduction-wrapper {
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
        margin-bottom: 400px;
    }

    .left-content-wrapper {
        width: 100%;
        align-items: center;
        margin-top: 850px;
    }
    .right-content-wrapper img {
        width: 80%;
        margin-top: 1250px;
    }

    .cards-wrapper {
        grid-template-columns: 1fr;
    }

    .content-wrapper {
        flex-direction: column;
        padding: 20px;
        text-align: center;
        margin-bottom: 40px;
    }

    .banner .button-filled {
        width: 80% !important;
    }

    .banner-header {
        text-align: center;
    }

    footer .logo {
        font-size: 90px;
    }
}