.adjustment-card {
    width: 60%;
    height: 120px;
    background: var(--clr-card-surface);
    border-radius: 16px;
    padding: 10px;
    box-shadow: 2px 5px 6px 0 rgba(136, 125, 125, 0.25);
}

.adjustment-card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.adjustment-card:active {
    transform: scale(1);
    transition: 0.3s ease-in-out;
    background:#e4eaef;
}

.adjustment-card.active {
    background: #e4eaef;
}
.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.image {
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.card-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1150px) {
    .adjustment-card {
        width: 70%;
        margin-left: 50px;
        height: auto;
    }
}

@media (max-width: 700px) {
    .adjustment-card {
        width: 65%;
    }
}

@media (max-width: 480px) {
    .adjustment-card {
        width: 60%;
        margin-left: 75px;
    }
}