.status-overview-card {
    width: 100%;
    display: flex;
    padding: 10px;
    height: auto;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid var(--clr-muted);
    cursor: pointer;
}

.status-overview-card:hover {
    background: #f1f1f1;
    transition: 0.3s ease-in-out;
}

img {
    max-width: 55px;
    max-height: 55px;
}
.name p {
    text-align: start;
}

.profile {
    width: 20%;
}
.name {
    width: 60%;
}

@media (max-width: 1400px) {
    .status-overview-card {
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }
    .name p {
        font-size: 13.5px;
    }
}

@media (max-width: 1200px) {
    .status-overview-card {
        gap: 10px;
    }
    .profile {
        width: auto;
    }
    .name {
        width: auto;
        flex: 1;
    }
    .name p {
        font-size: 12px;
    }
    .status-overview-card img {
        max-width: 45px;
        max-height: 45px;
    }
}

@media (max-width: 1000px) {
    .name p {
        font-size: 13.25px;
    }
}

@media (max-width: 800px) {
    .name p {
        font-size: 13.75px;
    }
}

@media (max-width: 600px) {
    .name p {
        font-size: 13px;
    }
    .status-overview-card img {
        max-width: 30px;
        max-height: 30px;
    }
}

@media (max-width: 480px) {
    .status-overview-card img {
        max-width: 25px;
        max-height: 25px;
    }
}