.logs-wrapper {
    display: flex;
    background-color: var(--clr-card-surface);
    box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
    width: 95%;
    height: 100px;
    border-radius: 16px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.data-wrapper {
    width: 70%;
    height: auto;
    border-right: 1px solid var(--clr-primary);
    padding-left: 20px;
}

.data-wrapper:first-of-type {
    width: 20%;
    height: auto;
}
.data-wrapper:last-of-type {
    width: 10%;
    height: auto;
    border: none;
    display: flex;
    gap: 20px;
}

.stats {
    display: flex;
    gap: 30px;
}
.stats-wrapper p {
    color: var(--clr-secondary);
}
#work-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
