.leave-card {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 10px;
    background: var(--clr-card-surface);
    border-bottom: 1px solid rgba(156, 163, 175, 0.5);
    align-items: center;
    gap: 10px;
}

.leave-card:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.leave-card .leave-type {
    font-weight: 600;
    flex: 0 0 110px; 
    text-align: left;
}

.leave-card .leave-message {
    flex: 1; 
    color: var(--clr-secondary);
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leave-card .leave-date,
.leave-card .status {
    flex: 0 0 100px; 
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

@media (max-width: 600px) {
    .leave-card {
        flex-wrap: wrap;
        height: auto;
    }

    .leave-card .leave-type,
    .leave-card .leave-date,
    .leave-card .status {
        flex: 0 0 auto;
        width: auto;
        font-size: 13px;
    }

    .leave-card .leave-message {
        width: 100%;
        order: 2;
        padding-left: 0;
        font-size: 13px;
    }
}