.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.header {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
