.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80%;
}
.field-row{
    display: flex !important;
}
form {
    width: 50%;
}
.button-filled {
    float: right;
}
.field-row {
    display: flex !important;
    gap: 5rem !important;
}
