body {
    font-family: Arial;
    font-size: 12px;
    background: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 275vh;
    overflow-x: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.head, .row {
    display: flex;
    gap: 70px;
}

.container {
    margin-left: 400px;
    margin-top: 85vh;
    justify-content: center;
    width: 1050px;
}

.content {
    width: 950px;
    margin-bottom: 20px;
}

.formGroup, .formGroupLow {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

.required {
    color: red;
}

input {
    font-size: 14px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 4px 0;
    font-size: 14px;
    background-color: transparent;
}

.blood-type, .otherContactNum, .uploadDocuments, .password {
    width: 440px;
}

.emp-type {
    width: 180px;
}

h2 {
    margin-top: 10px;
    font-size: 32px;
}

h3 {
    margin-top: 25px;
    font-size: 20px;
    margin-bottom: 75px;
}

.header {
    margin-left: -250px;
    width: 500px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -5px;
}

.header img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 5px;
}

.confirm {
    background-color: #ffcf33;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    width: 150px;
    height: 47px;
    margin-top: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: background 0.3s ease;
    margin-bottom: 80px;
}

.confirm:hover {
    background-color: #ffd84d
}

@media screen and (max-width: 1700px){

    body {
        margin-right: 10px;
    }
    
    .container {
        margin-left: 390px;
    }

}

@media screen and (max-width: 1550px){

    .container {
        margin-left: 380px;
    }

    .confirm {
        width: 150px;
        font-size: 14px;
        padding: 10px;
        margin-top: 20px;
        align-self: flex-start;
        align-items: right;
    }
}

@media screen and (max-width: 1400px), screen and (max-height: 670px){

    .header {
        margin-top: 0px;
    }
    
    body {
        flex-direction: column;
        height: auto;
        padding: 20px;
        padding-left: 0;
        padding-top: 0;
        align-items: flex-start;
    }

    .container {
        width: 75%;
        margin-left: 290px;
        margin-top: 30px;
    }

    .header {
        margin-left: -90px;
    }

    .head, .row {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }

    .formGroupLow {
        width: 100%;
    }

}

@media screen and (max-height: 670px) {
    .content {
        width: 90%;
    }
}

@media screen and (max-width: 1370px){
    .confirm { 
        margin-left: 0px;
    }
}

@media screen and (max-width: 1250px){
    
    .container {
        margin-left: 230px;
    }

}

@media screen and (max-width: 970px) {
    
    .container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        margin-left: 150px;
    }

    .header {
        margin-left: -10px;
    }

    .form {
        width: 100%;
        gap: 15px;
    }

}

@media screen and (max-width: 700px) {
    .container {
        width: 70%;
    }
}