body {
    font-family: Arial;
    font-size: 12px;
    background: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 20px);
    overflow-x: hidden;
    padding-top: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.head, .row {
    display: flex;
    gap: 70px;
}

.head, .row2 {
    align-items: flex-end;
    display: flex;
    gap: 15px;
}

.companyDesignation, .uploadDocuments {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.companyDesignation select {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.uploadDocuments input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.wrapper {
    margin-bottom: 20px;
    margin-left: 20px;
}

.wrapper2 {
    margin-bottom: 20px;
    margin-left: 3px;
    padding-right: 365px; 
}

.addCompany {
    height: 40px;
    padding: 12px;
    border-radius: 8px;
    width: 125px;
    border: none;
    flex-shrink: 0;
    white-space: nowrap;
    background-color: #ffcf33;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

.addCompany:hover {
    background-color: #ffd84d
}

.container {
    margin-left: 400px;
    justify-content: center;
    width: 1050px;
    margin-top: 5px;
}

.content {
    width: 950px;
    margin-bottom: 85px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 15px;
}

.emp-buttons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.emp-buttons button {
    padding: 8px 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 12px;
    cursor: pointer;
    width: 148px;
    height: 40px;
    transition: 0.2s;
    margin-right: 20px;
}

.emp-buttons button:hover {
    border: 1px solid #e1e1e1;
    background-color: rgb(248, 248, 248);
}

.emp-buttons .type-selected {
    background-color: #cce5ff;
    border: 2px solid #007bff;
    color: #007bff;
}

.emp-buttons .type-selected:hover {
    background-color: #dfeeff;
    border: 2px solid #4ba2ff;
    color: #007bff;
}

.emp-type button.active {
    background-color: black;
    color: white;
    border-color: black;
}

.uploadDocuments {
    flex: 1;
}

.browse {
    height: 40px;
    padding: 12px;
    border-radius: 8px;
    width: 125px;
    border: none;
    flex-shrink: 0;
    white-space: nowrap;
    background-color: #D7D5CE;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

.browse:hover {
    background-color: #e0ded6;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

.required {
    color: red;
}

input, select {
    padding: 10px;
    font-size: 14px;
    box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
    border-radius: 6px;
    border: 1px solid #000000;
    outline: none;
    margin-bottom: 20px;
}

h2 {
    margin-top: 10px;
    font-size: 32px;
}

.header {
    margin-left: -250px;
    width: 500px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.header img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.next-con{
    display: flex;
    justify-content: flex;
    width: 100%;
}

.next {
    background-color: #ffcf33;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 875px;
    width: 150px;
    height: 47px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: background 0.3s ease;
    margin-bottom: 50px;
}

.next:hover {
    background-color: #ffd84d
}

.file-wrapper {
    position: relative;
    display: inline-block;
    width: 100%; 
}

#uploadDocuments {
    width: 100%;
    padding-right: 85px;
    cursor: pointer;
}

.remove-btn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: black;
    padding-bottom: 18px;
}

.indicator {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

.indicator.unseen {
    color: red;
    padding-bottom: 20px;
}

.indicator.seen {
    color: green;
    padding-bottom: 20px;
}

.file-preview {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
    background: #f9f9f9;
    max-height: 600px;
    overflow: auto;
}

.file-preview iframe, .file-preview img {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 5px;
    object-fit: contain;
} 

#previewContent iframe { 
    border: 0;
}

.wrapper-iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1700px){

    body {
        margin-right: 10px;
    }
    
    .container {
        margin-left: 390px;
    }

}

@media screen and (max-width: 1550px){

    .container {
        margin-left: 380px;
    }

    .next {
        width: 150px;
        font-size: 14px;
        padding: 10px;
        margin-top: 20px;
        align-self: flex-start;
        align-items: right;
    }

    .wrapper2 {
        padding-right: 0;
    }
}

@media screen and (max-width: 1450px){
    .next { 
        margin-left: 825px;
    }
}

@media screen and (max-width: 1400px), screen and (max-height: 670px){
 
    .header {
        margin-top: 0px;
    }
    
    body {
        flex-direction: column;
        max-height: calc(100vh - 20px);
        padding: 20px;
        padding-left: 0;
        align-items: flex-start; 
    }

    .container {
        width: 75%;
        margin-left: 290px;
    }

    .header {
        margin-left: -90px;
    }

    .head, .row, .row2 {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }

    .next { 
        margin-left: 800px;
    }

}

@media screen and (max-height: 670px) {
    .next {
        margin-left: 925px;
    }

    .content {
        width: 90%;
    }
}

@media screen and (max-width: 1370px){
    .next { 
        margin-left: 775px;
    }
}

@media screen and (max-width: 1350px){
    .next { 
        margin-left: 750px;
    }
}

@media screen and (max-width: 1270px){
    .next { 
        margin-left: 675px;
    }
}

@media screen and (max-width: 1250px){
    
    .container {
        margin-left: 230px;
    }

    .next { 
        margin-left: 650px;
    }

}

@media screen and (max-width: 1170px){
    .next { 
        margin-left: 575px;
    }
}

@media screen and (max-width: 1150px){
    .next { 
        margin-left: 550px;
    }
}

@media screen and (max-width: 1070px){
    .next { 
        margin-left: 475px;
    }
}

@media screen and (max-width: 1050px){
    .next { 
        margin-left: 450px;
    }
}

@media screen and (max-width: 970px) {
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        margin-left: 150px;
    }

    .header {
        margin-left: -10px;
    }

    .form {
        width: 100%;
        gap: 15px;
    }

    .next { 
        margin-left: 375px;
    }
}

@media screen and (max-width: 870px){
    .next { 
        margin-left: 350px;
    }
}

@media screen and (max-width: 760px){
    .next { 
        margin-left: 280px;
    }

    .emp-buttons button {
        font-size: 11px;
        width: 120px;
        height: 45px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 730px) {
    .next { 
        margin-left: 230px;
    }
}

@media screen and (max-width: 700px) {
    .container {
        width: 67%;
    }

    .content {
        width: 90%;
    }
    
    .next { 
        margin-left: 125px;
    }
}