.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px;
}

.form-wrapper {
    margin-top: 20px;
    width: 80%;
}

.button-filled {
    float: right;
}
.field-row {
    display: flex !important;
    gap: 5rem !important;
}

form {
    width: 100%;
}

section h5 {
    margin-bottom: 20px;
}


@media (max-width: 1150px) {

    .main-content {
        padding: 20px;
    }

    .form-wrapper {
        margin-left: 50px;
        width: 75%;
    }

    .field-row {
        gap: 2rem !important;
    }
}

@media (max-width: 800px) {

    .form-wrapper {
        margin-left: 75px;
        width: 65%;
        margin-top: 10px;
    }

    .field-row {
        flex-direction: column !important;
        gap: 1.5rem !important;
        width: 100%;
    }

    .button-filled {
        float: none;
        width: 100%;
        text-align: center;
    }
    
}

