.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-wrapper {
    margin-top: 20px;
    width: 60%;
}
form {
    width: 100%;
}
.field-row {
    display: flex !important;
    gap: 10rem !important;
}

.field-row:last-of-type {
    max-width: 43%;
}
.field-row:first-of-type {
    margin-top: 30px;
}

.button-filled {
    float: right;
}

.main-content {
    margin-bottom: 5%;
}
