.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
}

form{
    width: 100%;
}
.form-wrapper{
    margin-top: 20px;
    width: 80%;
}

.field-row {
    display: flex !important;
}
section .field-row:last-of-type {
    width: 46%;
}
.button-filled {
    float: right ;
}

section h5 {
    margin-bottom: 20px;
}
