body {
    font-family: Arial;
    font-size: 12px;
    background: #fff;
    margin: 0;
    padding: 0;
    /*display: flex;*/
    height: 100vh;
    align-items: center;
}

.container {
    width: 100%;
    justify-content: center;
    margin-left: 250px;
    display: flex;
}
.sign-in-wrapper {
    width: 40%;
}

.logo {
    font-size: 47px;
    font-weight: bold;
    /*margin-bottom: 625px;*/
    margin-left: 50px;
}

.header{
    font-size: 40px;
    /*margin-bottom: 50px;*/
    text-align: center;
}


.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.l1, .l2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 10px;
    width: 100%;
}


label {
    font-size: 14px;
    margin-bottom: 5px;
    color: rgb(88, 88, 88);
}

.required {
    color: red;
}

input, select {
    padding: 10px;
    font-size: 14px;
    box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
    border: 1px solid #000000;
    border-radius: 6px;
    outline: none;
}

.wrapper {
    position: relative;
}

.l2 input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 14px;
}

.toggleEye {
    position: absolute;
    right: 12px;
    top: 51%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    font-size: 20px;
}

.forgot {
    text-decoration: none;
    font-size: 14px;
    color: rgb(115, 115, 115);
    margin-top: 12px;
    margin-bottom: 8px;

}

.signIn {
    background-color: #ffcf33;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: background 0.3s ease;
}

.signIn:hover {
    background-color: #ffd84d
}

@media screen and (max-width: 1300px) {

    .container {
        margin-left: 300px;
    }

}

@media screen and (max-width: 1200px) {

    .container {
        margin-left: 180px;
    }

}

@media screen and (max-width: 1100px) {

    .container {
        margin-left: 90px;
    }

}

@media screen and (max-width: 1000px) {

    .container {
        margin-left: 45px;
    }

}

@media screen and (max-width: 900px) {

    .container {
        margin-left: 18px;
    }

}

@media screen and (max-width: 800px) {

    .container {
        margin-left: 0px;
    }

}

@media screen and (max-width: 780px) {
     body {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        height: auto;
    }

     .logo {
        font-size: 35px;
        margin-left: 10px;
        font-weight: bold;
        margin-bottom: 125px;
    }

    .container {
        margin-left: 70px;
    }

}

@media screen and (max-width: 700px) {

    .container {
        margin-left: 50px;
        width: 75%;
    }

}

@media screen and (max-width: 650px) {

    .header {
        font-size: 32px;
    }

}

