.main-content {
    display: flex;
    width: 100%;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-wrapper h3 {
    margin-bottom: 50px;
}
.field-row:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
form {
    width: 40%;
}

.button-filled {
    width: 100% !important;
}

a {
    text-decoration: none;
}

@media (max-width: 1150px) {
    form {
        width: 60%;
    }
    .header {
        margin-top: 15px;
    }
}

@media (max-width: 800px) {
    .main-content {
        flex-direction: column;
        padding: 10px;
    }

    form {
        width: 70%;
    }
}


