.main-content {
    display: flex;
    width: 100%;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-wrapper h3 {
    margin-bottom: 50px;
}

.field-row:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

form {
    width: 40%;
}

.button-filled {
    width: 100% !important;
}

a {
    text-decoration: none;
}

.logo {
    margin-left: 18.5px !important;
    margin-bottom: 75px !important;
}

@media (max-width: 1150px) {
    form {
        width: 55%;
    }
    .header {
        margin-top: 15px;
    }
}

@media (max-width: 900px) {
    .logo {
        font-size: 40px;
    }
}

@media (max-width: 800px) {
    .main-content {
        flex-direction: column;
        padding: 10px;
    }

    form {
        width: 70%;
    }
}

.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #FFD858;
    color: black;
    padding: 14px 20px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    z-index: 9999;
    animation: slideIn 0.4s ease, fadeOut 0.4s ease 3s forwards;
}

@keyframes slideIn {
    from { transform: translateX(30px); opacity: 0; }
    to   { transform: translateX(0); opacity: 1; }
}

@keyframes fadeOut {
    to { opacity: 0; transform: translateX(30px); }
}