body {
    font-family: Arial;
    font-size: 12px;
    background: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: center;
}

.container {
    margin-top: 10px;
    width: 528px;
    justify-content: center;
    margin-left: 250px;
}

.logo {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 625px;
    margin-left: 50px;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
 }

 p {
    font-size: 16px;
    margin-bottom: 30px;
    color: rgb(88, 88, 88);
    text-align: center;
 }

.auto {
    color: #2b2b2b;
}

.payroll {
    color: #ffcf33;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.p1, .p2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 10px;
    width: 100%;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: rgb(88, 88, 88);
}

.required {
    color: red;
}

input, select {
    padding: 10px;
    font-size: 14px;
    box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
    border: 1px solid #000000;
    border-radius: 6px;
    outline: none;
}

.p1, .p2 {
    margin-bottom: 20px;
}

.wrapper, .wrapper2 {
    position: relative;
}

.p1 input, .p2 input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 14px; 
}

.toggleEye, .toggleEye2 {
    position: absolute;
    right: 12px;
    top: 60%;
    transform: translateY(-60%);
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    line-height: 1;
}

.cancel {
    border-radius: 8px;
    background: white;
    border: 1px solid var(--active, #FFD858);
    box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
    height: 47px;
    width: 252px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    transition: background 0.3s ease;
}

.continue {
    border-radius: 8px;
    background: var(--active, #FFD858);
    box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
    height: 47px;
    width: 252px;
    cursor: pointer;
    position: relative;
    transition: background 0.3s ease;
}

.cancel:hover {
    border: 1px solid var(--active, #ffe17e);
    background: rgb(251, 251, 251);
}

.continue:hover {
    background: var(--active, #ffe17e);
}

input.error-input {
    border-color: #e63946;
}

.error {
    color: #e63946;
    font-size: 12px;
    margin-top: 3px;
}

@media screen and (max-width: 1300px) {
    
    .container {
        margin-left: 300px;
    }
    
}

@media screen and (max-width: 1200px) {
    
    .container {
        margin-left: 180px;
    }
    
}

@media screen and (max-width: 1100px) {
    
    .container {
        margin-left: 90px;
    }
    
}

@media screen and (max-width: 1000px) {
    
    .container {
        margin-left: 45px;
    }
    
}

@media screen and (max-width: 900px) {
    
    .container {
        margin-left: 18px;
    }
    
}

@media screen and (max-width: 870px) {
    
    .container {
        margin-left: 0px;
    }
    
}

@media screen and (max-width: 850px) {
     body {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        height: auto;
    }

     .logo {
        font-size: 35px;
        margin-left: 10px;
        font-weight: bold;
        margin-bottom: 110px;
    }

    .container {
        margin-left: 70px;
    }
    
}

@media screen and (max-width: 700px) {
    
    .container {
        margin-left: 50px;
        width: 75%;
    }
    
    .actions {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

   .continue, .cancel {
        height: 47px;
        width: 152px;
        justify-content: center;
    }
    
}

@media screen and (max-width: 650px) {
     h2 {
        font-size: 32px;
     }
}


