.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom:5%;
}
.main-content form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /*align-items: center;*/
}

.main-content .field-input input {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--clr-muted);
    margin-bottom: 0 !important;
    outline: none !important;
}
.action .button-filled {
    max-height: 30px !important;
    font-size: 13px !important;
    width: 40% !important;
    background: var(--clr-yellow) !important;
    color: var(--clr-primary) !important;
}
.action .button-filled:hover {
    background: var(--clr-primary) !important;
    color: var(--clr-background) !important;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--clr-card-surface);
    width: 50%;
    border-radius: 16px;
    padding: 20px;
    gap: 20px;
    height: 500px;
    box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
}

.action {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.cstmTextarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid var(--clr-muted);
    border-radius: 8px;
    background: none;
    outline: none;
    padding:10px;
}
