.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom:5%;
}


.main-content .field-input input {
    pointer-events: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--clr-muted);
}
.action form .button-filled {
    max-height: 30px !important;
    font-size: 13px !important;
    width: 120px !important;
    background: var(--clr-red) !important;
    color: var(--clr-background) !important;
}
.action form .button-filled:hover {
    background: var(--clr-primary) !important;
    color: var(--clr-background) !important;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: start;
    background: var(--clr-card-surface);
    width: 50%;
    border-radius: 16px;
    padding: 20px;
    gap: 20px;
    height: 500px;
    box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
}

.message-wrapper {
    width: 100%;
    height: 100%;
}
.action {
    width: 100%;
    padding: 20px;
}
.action  form {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

