.main-content {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100vh;
    padding: 50px;

}
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    background: var(--clr-card-surface);
    width: 100%;
    height: 500px;
    padding: 15px;
    border-radius: 16px;
}
.schedule-wrapper{
    width: 30%;
}
.field-row {
    display: flex !important;
}
.field-row .field-input input {
    width: 100%;
}
.employee-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 70%;
    height: 100%;
    gap: 30px;
    padding: 10px 0;
    overflow: scroll ;
}
.card-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}
