.company-table-row {
    width: 93.2%;
    border-collapse: collapse;
    margin-bottom: 15px;
    background: #fff;
}

.company-table-row th {
    text-align: left;
    width: 130px;
    padding: 8px;
    font-weight: 600;
    font-size: 13px;
    background: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

.company-table-row td {
    padding: 8px;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
}

.table-logo {
    width: 45px;
    height: 45px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 10px;
}

.company-info-cell {
    display: flex;
    align-items: center;
}

.company-info-text p {
    margin: 0;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1400px) {
    .company-table-row {
        width: 89%;
        margin-left: 25px;

    }
}


@media (max-width: 1150px) {
    .company-table-row {
        width: 85%;
        margin-left: 50px;

    }
}

@media (max-width: 1000px){
    .company-table-row {
        width: 82%;
        
    }
}

@media (max-width: 900px) {

    .company-table-row {
        width: 80%;
        margin-left: 50px;

    }
    .company-table-row th {
        width: 95px;
        font-size: 12px;
        padding: 6px;
    }

    .company-table-row td {
        font-size: 12px;
        padding: 6px;
    }

    .table-logo {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 700px){
    .company-table-row {
        width: 75%;

    }
    .company-table-row th {
        width: 90px;
    }
}

@media (max-width: 600px){
    .company-table-row {
        width: 70%;
        margin-left: 65px;

    }
    .company-table-row th {
        width: 88px;
    }
}

