.main-content{
    width: 100%;
    padding: 2% 5% 0 5%;
}
.sched-wrapper{
    width: 100%;
    display: flex;
}

.main-content .sched-wrapper .sidebar {
    border-radius: 16px 0 0 16px;
    background: #C4BBAF;
    width: 30%;
}

.main-content .sched-wrapper .content {
    background: var(--clr-card-surface);
    border-radius: 0 16px 16px 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    height: 100vh;
    gap: 20px;
    scroll-behavior: smooth;
    overflow: hidden;
    overflow-y: scroll;
}

.card-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
