.main-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information-card h6:last-child {
    margin-top: 10px;
}
.input-wrapper {
    display: flex;
    gap: 50px;
}
.information-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    padding: 2%;
    border-radius: 16px;
    margin-top: 50px;
    background-color: var(--clr-card-surface);
    gap: 20px;
    pointer-events: none;
}
.form-input {
    width: 50% !important;
}
.form-input input {
    border: none !important ;
    border-radius: 0 !important ;
    border-bottom: 1px solid var(--clr-primary) !important; ;
}

#longitude {
    /*width: 47% !important;*/
}

.field-row {
    display: flex !important;
}
