.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 35px;
}

#map {
    width: 80%;
    height: 500px;
    border-radius: 16px;
}
#longitude, #latitude {
    pointer-events: none;
}

.main-content .field-row  {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px!important;
}
.main-content .field-row:first-of-type  {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.main-content form {
    width: 80%;
    height: 100%;
    display: flex;
    gap: 20px !important;
    flex-direction: column;
}
.main-content form #submit-btn{
    margin-top: 25px !important;
    width: 20% ;
    float: right ;
    bottom: 0;
}

@media (max-width: 1400px) {
    .main-content {
        margin-left: 50px;
    }
}


@media (max-width: 1050px) {

    #map {
        width: 75%;
        height: 300px;
        border-radius: 12px;
        float: none;
        margin-left: 10px;
    }

    .main-content .field-row {
        grid-template-columns: 1fr;
        gap: 12px !important;
    }

    .main-content form {
        width: 75%;
        float: none;
        align-self: center;
        margin-left: 10px;
    }

    .main-content form .field-row:nth-of-type(1) {
        display: grid !important;
        grid-template-columns: 1fr !important;
        width: 100%;
    }

    .main-content form #submit-btn {
        width: 100px;
    }
    
}

@media (max-width: 800px) {
    #map {
        width: 60%;
        height: 300px;
        border-radius: 12px;
        float: none;
    }

    .main-content .field-row {
        grid-template-columns: 1fr;
        gap: 12px !important;
    }

    .main-content form {
        width: 60%;
    }

    .main-content {
        margin-left: 60px;
    }
}

@media (max-width: 600px) {
    .main-content {
        margin-left: 70px;
    }
}

.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #FFD858;
    color: black;
    padding: 14px 20px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    z-index: 9999;
    animation: slideIn 0.4s ease, fadeOut 0.4s ease 3s forwards;
}

@keyframes slideIn {
    from { transform: translateX(30px); opacity: 0; }
    to   { transform: translateX(0); opacity: 1; }
}

@keyframes fadeOut {
    to { opacity: 0; transform: translateX(30px); }
}