.main-content   {
    width: 100%;
    padding: 2% 2% ;
}

#employee-cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 4fr));
    gap: 20px 10px;
}
.no-results {
    text-align: center;
}

#button {
    float:right;
}
