.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 35px;
}

#map {
    width: 80%;
    height: 500px;
    border-radius: 16px;
}
#longitude, #latitude {
    pointer-events: none;
}

.main-content .field-row  {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px!important;
}
.main-content .field-row:first-of-type  {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.main-content form {
    width: 80%;
    height: 100%;
    display: flex;
    gap: 20px!important;
    flex-direction: column;
}
.main-content form #submit-btn{
    margin-top: 25px!important;
    width: 20% ;
    float: right ;
    bottom: 0 ;

}


@media (max-width: 1050px) {

    #map {
        width: 75%;
        height: 300px;
        border-radius: 12px;
        float: none;
        margin-left: 50px;
    }

    .main-content .field-row {
        grid-template-columns: 1fr;
        gap: 12px !important;
    }

    .main-content form {
        width: 75%;
        float: none;
        align-self: center;
        margin-left: 50px;
    }

    .main-content form .field-row:nth-of-type(1) {
        display: grid !important;
        grid-template-columns: 1fr !important;
        width: 100%;
    }

    .main-content form #submit-btn {
        width: 100px;
    }
    
}

@media (max-width: 800px) {
    #map {
        width: 60%;
        height: 300px;
        border-radius: 12px;
        float: none;
        margin-left: 50px;
    }

    .main-content .field-row {
        grid-template-columns: 1fr;
        gap: 12px !important;
    }

    .main-content form {
        width: 60%;
    }
}