.company-row-link {
    text-decoration: none;
    color: inherit;
}

.company-row {
    display: grid;
    grid-template-columns: 100px 1.2fr 1.4fr 0.7fr;
    align-items: center;
    background: #fff;
    padding: 12px 18px;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    margin-bottom: 12px;
    transition: 0.2s ease;
    width: 95%;
}

.company-row:hover {
    background: #f8f9ff;
    border-color: #d0d7ff;
    transform: translateY(-1px);
}

.col {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}


.company-logo {
    width: 42px;
    height: 42px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 12px;
}

.col-company {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.col-employees {
    margin-left: 50px;
}

.company-text p {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
}

.company-industry {
    font-size: 12px;
    color: #777;
}

@media (max-width: 1200px) {
    .company-row {
        grid-template-columns: 80px 1.3fr 1.2fr 0.5fr;
        padding: 10px 14px;
    }

    .company-logo {
        width: 35px;
        height: 35px;
    }

    .col {
        font-size: 12px;
    }
}

@media (max-width: 1000px) {
    .company-row {
        grid-template-columns: 60px 1.2fr 1fr 0.3fr;
        padding: 10px 14px;
        width: 93%;
        margin-left: 10px;
    }

    .company-logo {
        width: 25px;
        height: 25px;
    }

    .col {
        font-size: 11px;
    }
}

@media (max-width: 900px) {
    .company-row {
        grid-template-columns: 0.8fr 2fr 1fr;
        width: 85%;
        margin-left: 35px;
    }

    .col{
        font-size: 14px;
    }

    .col-address {
        display: none;
    }
}

@media (max-width: 700px) {
    .company-row {
        width: 80%;
        grid-template-columns: 0.6fr 1.8fr 0.8fr;
        margin-left: 40px;
    }
}

@media (max-width: 550px) {
     .company-row {
        grid-template-columns: 0.1fr 0.5fr;
        width: 70%;
        margin-left: 50px;
    }
    .col{
        font-size: 11px;
    }
    
    .company-text p {
    font-size: 11px;
    }

    .company-industry {
    font-size: 9px;
    
    }
    .col-id {
        display: none;
    }

}

@media (max-width: 480px) {

    .col-company{
        margin-left: -1px;
    }

}
