.main-content{
    width: 100%;
    padding: 2% 5% 0 5%;
}
.sched-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-content .sched-wrapper .content {
    /*background: var(--clr-card-surface);*/
    border-radius:  16px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    height: 100vh;
    gap: 20px;
    scroll-behavior: smooth;
    overflow: hidden;
    overflow-y: scroll;
}

.card-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
