.main-content {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100vh;
    padding: 50px;
}
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    background: var(--clr-card-surface);
    width: 100%;
    height: 500px;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 2px 5px 5.9px 0 rgba(136, 125, 125, 0.25);
}
.schedule-wrapper{
    width: 30%;
}

.schedule-wrapper p {
    margin-top: 15px;
    margin-bottom: 10px;
}
.field-row {
    display: flex !important;
}
.field-row .field-input input {
    width: 100%;
}
.employee-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 70%;
    height: 100%;
    gap: 30px;
    padding: 10px 0;
    overflow: scroll ;
}
.card-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-filled {
    width: 100% !important;
}

@media (max-width: 1400px) {

    .content-wrapper {
        margin-left: 50px;
    }
    
}


@media (max-width: 1250px) {

    .content-wrapper {
        height: auto;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        width: 80%;
        align-items: center;
    }
    
    .schedule-wrapper {
        width: 90%;
        margin-bottom: 20px;
    }

    .employee-card-wrapper {
        width: 90%;
        padding: 0;
        margin-bottom: 15px;
    }

    .field-row {
        flex-direction: column !important;
        gap: 10px;
    }
}

@media (max-width: 800px) {

    .content-wrapper {
        width: 75%;
        margin-left: 70px;
    }

}
