.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.qr-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: var(--clr-card-surface);
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    width: 30%;
    height: 70%;
    margin-top: 70px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.button-filled {
    width: 70% !important;
}
