.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding-bottom: 30px;
}

.main-content form .field-row input {
    pointer-events: none;
}
.field-row {
    display: flex !important;
}

.field-row:last-of-type {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px!important;
}
 #address {
     overflow: auto;
 }

 .button {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: end;
     margin-top: 30px;
 }
 button {
     width: 30% !important;
 }
h6 {
    margin-bottom: 30px;
}


@media (max-width: 1050px) {

    .main-content form {
        width: 75%;
        margin-left: 50px;
    }

    .field-row {
        flex-direction: column !important;
    }

    .field-row:last-of-type {
        grid-template-columns: 1fr !important;
    }

    .button {
        justify-content: center;
    }

    button {
        width: 150px !important;
    }

    h6 {
        margin-top: 30px;
    }
}

@media (max-width: 1050px) {

    .main-content form {
        width: 60%;
        margin-left: 70px;
    }

}


