
.card-wrapper,
.profile,
.input-wrapper,
.name-wrapper
{
    display: flex;
}

.card-wrapper .profile .image-wrapper img,
.card-wrapper .profile .image-wrapper{
    width: 65px;
    height: 65px;
    border-radius: 100%;
}

.card-wrapper{
    background: #ECEAE7;
    width: 90%;
    height: 100px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 5px 6px 0 rgba(136, 125, 125, 0.25);
}
.card-wrapper:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.card-wrapper:active {
    transform:scale(0.97);
    transition: 0.3s ease-in-out;
}

.card-wrapper .profile {
    gap: 2rem;
    align-items: center;
    width: 40%;
    padding-right: 10px;
    border-right: 1px solid var(--clr-primary);
}

.card-wrapper .input-wrapper {
    width: 60%;
    gap: 20px;
    padding-left: 20px;
}

.shift-wrapper,.schedule-wrapper {
    width: 60%;
    justify-content: center;
}
.shift-wrapper{
    display: flex;
    flex-direction: column;
}

.name-wrapper {
    flex-direction: column;
    width: 100%;
}
p {
    margin: 0 !important;
}
.card-wrapper.active {
    background-color: var(--clr-card-inner);
    transition: all 0.2s ease;
    box-shadow: 2px 5px 5.9px 0 rgba(136, 133, 125, 0.25);
}
